body
{
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8" />
    font-family: "Verdana";
    font-size: 14px;

    background: #fb9d23; /* Old browsers */
    background: -moz-linear-gradient(top,  #fb9d23 6%, #fb9d23 19%, #ffc578 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #fb9d23 6%,#fb9d23 19%,#ffc578 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #fb9d23 6%,#fb9d23 19%,#ffc578 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fb9d23', endColorstr='#ffc578',GradientType=0 ); /* IE6-9 */



}

h1{
        font-size: 30px;
        margin-bottom: 5px;
}

h4{
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: px;
}

.standard-para
{
    width: 500px;
    margin-top: 25px;
    margin-bottom: 12px;
}
